Mojo.2.0/Mojo/Tools/Mojo.Xml/idTileMap.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="idTileMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="idTileMapEntry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tiles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="tile">
                      <xs:complexType>
                        <xs:attribute name="x" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="y" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="z" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="w" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>