Mojo.2.0/Mojo/Mojo/tiledVolumeDescription.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tiledVolumeDescription">
    <xs:complexType>
      <xs:attribute name="numBytesPerVoxel" type="xs:int" use="required" />
      <xs:attribute name="numVoxelsPerTileX" type="xs:int" use="required" />
      <xs:attribute name="numVoxelsPerTileY" type="xs:int" use="required" />
      <xs:attribute name="numVoxelsPerTileZ" type="xs:int" use="required" />
      <xs:attribute name="numTilesX" type="xs:int" use="required" />
      <xs:attribute name="numTilesY" type="xs:int" use="required" />
      <xs:attribute name="numTilesZ" type="xs:int" use="required" />
      <xs:attribute name="fileExtension" type="xs:string" use="required" />
      <xs:attribute name="dxgiFormat" type="xs:string" use="required" />
      <xs:attribute name="numTilesW" type="xs:int" use="required" />
      <xs:attribute name="isSigned" type="xs:boolean" use="required" />
      <xs:attribute name="numVoxelsX" type="xs:int" use="required" />
      <xs:attribute name="numVoxelsY" type="xs:int" use="required" />
      <xs:attribute name="numVoxelsZ" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>